* {
  margin: 0;
  padding: 0;
}

#ticket {
  right: 0;
  bottom: 0;
  margin-right: -28%;
}

#yhotel {
  left: 0;
  bottom: 0;
  margin-left: -18%;
}

#zzang {
  left: 0;
  top: 0;
  margin-left: -22%;
}

#heart {
  right: 0;
  top: 0;
  margin-right: -43%;
}

@media (max-width: 767px) {
  #yhotel,
  #ticket,
  #zzang,
  #heart {
    display: none;
  }
}

.section {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.sec1 {
  background-image: url(../images/bg/bg_01.jpg);
}

.sec2 {
  background-color: #fde8ff;
  -webkit-box-shadow: 0px 0px 20px 0px #a7777fa4;
          box-shadow: 0px 0px 20px 0px #a7777fa4;
}

.sec2 h4 {
  line-height: 5rem;
  padding: 2%;
  font-size: 24px;
  letter-spacing: 4px;
}

.sec2 .text-pakege {
  padding: 5% 0 12%;
}

.sec2 .text-pakege .trhotel {
  padding: 40px 0 10px;
  line-height: 1rem;
  letter-spacing: 4px;
  color: #e65df6;
  font-size: 24px;
}

.sec2 .text-pakege div {
  font-size: 45px;
  font-weight: 600;
}

.sec2 .text-pakege div p {
  margin: 0;
  color: #e65df6;
}

.sec2 .imgstar img {
  top: 0px;
  right: 0%;
  -webkit-transform: rotate(90deg);
  transform: translate(-150%, -48%) rotate(90deg);
  min-width: 100px;
}

#mySwiper {
  padding: 0 12px;
}

#mySwiper .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mySwiper .swiper-wrapper .swiper-slide .cupon {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: white;
  border: 3px solid black;
  border-radius: 30px;
}

#mySwiper .swiper-wrapper .swiper-slide .cupon img {
  width: 20%;
}

#mySwiper .swiper-wrapper .swiper-slide .cupon .textP .middlef {
  font-size: 27px;
  font-weight: 700;
  color: #ff0095;
}

#mySwiper .swiper-wrapper .swiper-slide .cupon .textP .benefit {
  font-weight: 600;
  color: #ff0095;
}

#mySwiper .swiper-wrapper .swiper-slide .cupon .textP .benefit p {
  font-family: 'GL';
  color: #ff0095;
}

#mySwiper .swiper-wrapper .swiper-slide .cupon .textB .middlefB {
  font-size: 27px;
  font-weight: 700;
  color: #2db2ff;
}

#mySwiper .swiper-wrapper .swiper-slide .cupon .textB .benefitB {
  font-weight: 600;
  color: #2db2ff;
}

#mySwiper .swiper-wrapper .swiper-slide .cupon .textB .benefitB p {
  font-family: 'GL';
  color: #2db2ff;
}

.swiper-slide:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(2%, 5%);
          transform: translate(2%, 5%);
  width: 100%;
  height: 200px;
  border: 3px solid black;
  border-radius: 30px;
}

.backP:before {
  background-color: #ff0095;
}

.backB:before {
  background-color: #2db2ff;
}

#roomstyle {
  padding: 0;
}

#roomstyle .room {
  position: relative;
  width: 100%;
}

#roomstyle .standard-content,
#roomstyle .deluxe-content {
  position: relative;
  width: 100%;
  line-height: 100px;
  background-color: white;
  border: 3px solid black;
  border-radius: 30px 30px 0 0;
  border-bottom: none;
}

#roomstyle .standard-content::before {
  content: '';
  background-image: url(../images/star.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 25%;
  height: 0;
  padding-bottom: 20%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-150%, -32%);
          transform: translate(-150%, -32%);
}

@media (max-width: 767px) {
  #roomstyle .standard-content::before {
    display: none;
  }
}

#roomstyle .deluxe-content {
  background-color: #e65df6;
}

#roomstyle .deluxe-content p {
  color: white;
}

#roomstyle .room:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(2%, 5%);
          transform: translate(2%, 5%);
  width: 100%;
  height: 175px;
  border: 3px solid black;
  border-radius: 30px;
  background-color: black;
}

@media (max-width: 767px) {
  #roomstyle .room:before {
    display: none;
  }
}

#roomstyle .tc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#roomstyle .tc p {
  margin: 0;
  letter-spacing: 4px;
}

.sec3 {
  background-image: url(../images/bg/bg_03.gif);
}

.sec3 .sec3wrap {
  background-image: url(../images/pinkHeart.png);
  background-position: center;
  background-repeat: no-repeat;
}

.sec3 .sec3wrap .container-lg .contents {
  top: 0;
  left: 0;
  -webkit-transform: translate(0, -16%);
          transform: translate(0, -16%);
}

@media (max-width: 767px) {
  .sec3 .sec3wrap .container-lg .contents {
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%);
  }
}

.sec3 .sec3wrap .container-lg .contents .roomcontent {
  display: none;
}

@media (max-width: 767px) {
  .sec3 .sec3wrap .container-lg .contents .roomcontent {
    display: block;
  }
}

.sec3 .sec3wrap .container-lg .contents .roomcontent .sRoom {
  width: 200%;
  background-color: white;
  border: 3px solid black;
  border-radius: 0px 0px 30px 30px;
  z-index: 10;
}

@media (max-width: 767px) {
  .sec3 .sec3wrap .container-lg .contents .roomcontent .sRoom {
    width: 100%;
    margin-bottom: 5%;
  }
}

.sec3 .sec3wrap .container-lg .contents .roomcontent .dRoom {
  width: 200%;
  background-color: #e65df6;
  border: 3px solid black;
  border-radius: 0px 0px 30px 30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 767px) {
  .sec3 .sec3wrap .container-lg .contents .roomcontent .dRoom {
    width: 100%;
    -webkit-transform: unset;
            transform: unset;
  }
}

.sec3 .sec3wrap .container-lg .contents .roomcontent .sRoom:before {
  content: '';
  width: 49.8%;
  height: 5px;
  background-color: white;
  position: absolute;
  top: -4px;
}

@media (max-width: 767px) {
  .sec3 .sec3wrap .container-lg .contents .roomcontent .sRoom:before {
    display: none;
  }
}

.sec3 .sec3wrap .container-lg .contents .roomcontent .dRoom:before {
  content: '';
  width: 49.7%;
  height: 5px;
  background-color: #e65df6;
  position: absolute;
  top: -4px;
  right: 0;
}

@media (max-width: 767px) {
  .sec3 .sec3wrap .container-lg .contents .roomcontent .dRoom:before {
    display: none;
  }
}

.sec3 .sec3wrap .container-lg .contents .roomcontent .content-t {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sec3 .sec3wrap .container-lg .contents .roomcontent .content-t p {
  word-break: keep-all;
}

.sec3 .sec3wrap .container-lg .contents .roomcontent .content-t .won span {
  font-family: 'GL';
}

.sec3 .sec3wrap .container-lg .contents .roomcontent .content-t .won h1 {
  margin-bottom: 0;
}

.sec3 .sec3wrap .container-lg .contents .roomcontent .content-t .arrow img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.sec3 .sec3wrap .container-lg .contents .roomcontent .content-t .arrow h1 {
  font-weight: 600;
  color: #de29f3;
}

.sec3 .sec3wrap .container-lg .contents .roomcontent .content-t .eventbtn {
  width: 170px;
  height: 53px;
  border: 3px solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  background-color: #de29f3;
}

@media (max-width: 767px) {
  .sec3 .sec3wrap .container-lg .contents .roomcontent .content-t .eventbtn {
    margin-bottom: 5%;
  }
}

.sec3 .sec3wrap .container-lg .contents .roomcontent .content-t .eventbtn p {
  margin: 0;
}

.sec3 .sec3wrap .container-lg .contents .roomcontent .content-t .white {
  background-color: white;
}

.sec3 .sec3wrap .container-lg .contents .roomcontent .roomImg img {
  margin: 3rem auto;
}

.sec3 .sec3wrap .container-lg .contents .leftwrap .btnwrap {
  top: 0;
  right: 0;
  -webkit-transform: translate(21%, 0%);
          transform: translate(21%, 0%);
  width: 100px;
}

@media (max-width: 767px) {
  .sec3 .sec3wrap .container-lg .contents .leftwrap .btnwrap {
    -webkit-transform: translate(-12%, -24%);
            transform: translate(-12%, -24%);
  }
}

.sec3 .sec3wrap .container-lg .contents .leftwrap .btnwrap p {
  top: 0;
  left: 0;
  -webkit-transform: translate(21%, -193%);
          transform: translate(21%, -193%);
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
}

.sec3 .sec3wrap .rc:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(1%, 0%);
          transform: translate(1%, 0%);
  width: 200%;
  height: 100%;
  border: 3px solid black;
  border-radius: 30px;
  background-color: black;
}

@media (max-width: 767px) {
  .sec3 .sec3wrap .rc:before {
    display: none;
  }
}

.sec3 .sec3wrap .rc2:before {
  -webkit-transform: translateX(-49%);
          transform: translateX(-49%);
}

#roomstyle .room.on .roomcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tc p {
  cursor: pointer;
}

.pinkbtn {
  background-image: url(../images/pinkbtn.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 0;
  padding-bottom: calc(175 / 171 * 100%);
}
